image: Visual Studio 2022

environment:
  matrix:
    - NAME: Win32-static
      ARCH: x86
      CONFIG: VC-WIN32
      SHARED: no-shared

    - NAME: Win32-shared
      ARCH: x86
      CONFIG: VC-WIN32
      SHARED: shared

    - NAME: Win64-static
      ARCH: x64
      CONFIG: VC-WIN64A
      SHARED: no-shared

    - NAME: Win64-shared
      ARCH: x64
      CONFIG: VC-WIN64A
      SHARED: shared

install:
  - choco install nasm -y
  - perl -v

build_script:
  - cmd: |
      echo ===== %NAME% =====
      echo Shell: %COMSPEC%

      rem === FORCE STRAWBERRY PERL ===
      set PATH=C:\Strawberry\perl\bin;%PATH%
      perl -v

      rem === FORCE NASM ===
      set PATH=C:\Program Files\NASM;%PATH%
      nasm -v

      if "%ARCH%"=="x86" call "%ProgramFiles%\Microsoft Visual Studio\2022\Community\VC\Auxiliary\Build\vcvarsall.bat" x86
      if "%ARCH%"=="x64" call "%ProgramFiles%\Microsoft Visual Studio\2022\Community\VC\Auxiliary\Build\vcvarsall.bat" amd64

      set INSTALL_DIR=%APPVEYOR_BUILD_FOLDER%\install\%NAME%
      mkdir "%INSTALL_DIR%"

      perl Configure %CONFIG% %SHARED% --prefix="%INSTALL_DIR%" no-makedepend
      nmake
      nmake install

artifacts:
  - path: install\Win32-static
    name: Win32-static

  - path: install\Win32-shared
    name: Win32-shared

  - path: install\Win64-static
    name: Win64-static

  - path: install\Win64-shared
    name: Win64-shared
